.tablet-size-container {
    max-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}
@media (max-width: 321px) {
    .tablet-size-container {
        padding: 10px;
    }
}
.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0 0;
}
.game-title {
    display: flex;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 6px;
}
.t2-color {
    color: #FCAF85;
}
.t0-color {
    color: #F25BAC;
}
.t4-color {
    color: #F06C94;
}
.t8-color {
    color: #982DCB;
}
.score-wrap {
    display: flex;
}
.score-box {
    background-color: #1D1D29;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
    margin: 0 8px 0 0;
}
.high-score-box {
    margin: 0 0 0 0;
}
.score-title {
    font-size: 12px;
    font-weight: 500;
    color: #8484a1;
}
.score-val {
    font-size: 16px;
}
.refresh-wrap {
    display: flex;
    justify-content: end;
}
.refresh-icon {
    background-color: #1D1D29;
    border-radius: 10px;
    text-align: center;
    padding: 6px 9px;
    margin: 0 0 10px 0;
    width: 40px;
    cursor: pointer;
}
.forward {
    margin: 0 6px 10px 0;
    width: 40px;
}
.modal-refresh {
    background-color: #2F3146;
}
.confirm-msg {
    color: #a5abaf;
    font-family: cursive;
    font-size: 35px;
    text-align: center;
}
.footer-wrap {
    border: none;
    justify-content: center;
}
.box-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #1D1D29;
    border-radius: 10px;
    padding: 2px;
}
.box {
    border-radius: 10px;
    background-color: #2F3146;
    width: 80px;
    height: 80px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}
@media (max-width: 321px) {
    .box {
        width: 66px;
        height: 66px;
    }
}
.note-wrap {
    margin-top: 5px;
    display: inline-flex;
}
.note {
    font-size: 12px;
    font-weight: bold;
    padding-right: 5px;
}
.note-text {
    font-size: 10px;
}